

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a class="logo-ft scroll-top" href="#"><em>NETTING</em></a>
                    <p> &copy; Vanessa González González
                   </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Ubicación</h4>
                    <ul>
                        <li>Calle Juárez n.16 col. Álvaro Obregón, <br>Rio Blanco Veracruz </li>
                        <li>C.P. 94735, <br>Veracruz, México</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>Más Inf.</h4>
                    <ul>
                        <li><em>Tel</em>: <br>
                             01 (272) 108 16 81</li>
                        <li><em>Email</em>: Pcisistem@hotmail.com<br>
                         </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Redes sociales</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

