
<section id="blog" class="page-section">
    <div class="container">
        <div class="col-md-4 col-sm-12">
            <div class="section-heading">
                <h4>MARKETING</h4>
                <div class="line-dec"></div>
                <p>Lista de servicios</p>
                <div class="filter-categories">
                    <ul class="project-filter">
                        <li class="filter" data-filter="all"><span></span></li>
                        <li class="filter" data-filter="graphic"><span>Diseño</span></li>
                        <li class="filter" data-filter="nature"><span>Photoshop</span></li>
                       </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                  <h4></h4>
                    <div class="line-dec"></div>
                     <div class="primary-blue-button">
                        <a href="#" class="" data-id="portfolio">Información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
               <h4></h4>
                    <div class="line-dec"></div>
                   <div class="primary-blue-button">
                        <a href="#" class="" data-id="portfolio">Información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                 <h4></h4>
                    <div class="line-dec"></div>
                       <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                 <h4></h4>
                    <div class="line-dec"></div>
                       <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Información</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
